/* 회원가입 약관동의 */
.joinWrap{ padding-top: 20px; }
.joinWrap .inner{ max-width: calc(800px + 40px); }

.joinTitle{ font-size: 38px; letter-spacing: -1.9px; font-family: 'SUIT-Bold'; margin-bottom: 48px; text-align: center; }

.agreeAll{ padding-bottom: 14px; border-bottom: 2px solid #000; }

.agreeArea{ margin-top: 40px; }
.agreeArea .agreeText{ margin-top: 10px; width: 100%; height: 200px; background-color: #f4f4f4; padding: 18px 16px; overflow: auto; font-size: 14px; letter-spacing: -0.7px; color: #333; line-height: 18px; }
.agreeArea .agreeText::-webkit-scrollbar{ width: 4px; height: 4px; }
.agreeArea .agreeText::-webkit-scrollbar-thumb{ border-radius: 2px; background-color: #aeaeae; }

.joinWrap input[type="checkbox"] + label {display:inline-flex; align-items:center; font-size: 20px; color: #000; gap: 8px; cursor: pointer; font-family:'SUIT-Bold'; }
.joinWrap input[type="checkbox"] + label::before{content:''; width: 22px; height: 22px; background: #d9d9d9 url(../images/cb-wh.png); background-repeat: no-repeat; background-position: center;  flex: none; border-radius: 100%; border: none; flex: none; }
.joinWrap input[type="checkbox"]:checked + label::before{content:''; background: #000 url(../images/cb-wh.png); background-repeat: no-repeat; background-position: center; }

@media screen and (max-width:768px){
    .joinWrap{ padding-top: 0; }
    .joinTitle{ font-size: 26px; }
    .agreeAll{ padding-bottom: 10px; }
    .agreeArea{ margin-top: 26px; }
    .agreeArea .agreeText{ margin-top: 6px; }
    .joinWrap input[type="checkbox"] + label{ font-size: 16px; }
}

/* 회원가입 요청 */
.joinCompleteWrap{ text-align: center; padding-top: 20px; }
.joinCompleteWrap .joinCompleteTit{ font-size: 40px; letter-spacing: -2px; font-family: 'SUIT-Bold'; margin-bottom: 18px; }
.joinCompleteWrap .joinCompleteGuide{ font-size: 16px; letter-spacing: -0.64px; color: #444; margin-bottom: 80px; }
.joinCompleteWrap .joinCompleteImg{ margin-bottom: 60px; }
.joinCompleteWrap .btn_area{ margin-top: 0; }
.joinCompleteWrap .joinCompleteComment{ display: block; margin-top: 60px; font-size: 16px; letter-spacing: -1.2px; color: #0f59b5; line-height: 1.2; }

@media screen and (max-width:768px){
    .joinCompleteWrap{ padding-top: 0; }
    .joinCompleteWrap .joinCompleteTit{ font-size: 30px; }
    .joinCompleteWrap .joinCompleteGuide{ font-size: 15px; margin-bottom: 40px; }
    .joinCompleteWrap .joinCompleteImg{ margin-bottom: 30px; width: 120px; }
    .joinCompleteWrap .joinCompleteComment{ margin-top: 30px; }
}

/* 아이디 비밀번호 찾기 */
.findWrap{ padding-top: 20px; }
.findWrap .inner{ max-width: calc(400px + 40px); }
.findTitle{ font-size: 38px; letter-spacing: -1.9px; font-family: 'SUIT-Bold'; margin-bottom: 40px; text-align: center; }
.findTab{ width: 100%; height: 40px; border-radius: 6px; background-color: #ededed; display: flex; margin-bottom: 60px; }
.findTab button{ width: 100%; height: 40px; font-size: 15px; letter-spacing: -0.6px; color: #555; font-family: 'SUIT-Bold'; }
.findTab button.on{ background-color: #fff; box-shadow: inset 0 0 0 2px #333; font-size: 16px; color: #000; border-radius: 6px; }

.findInputBox{ margin-top: 20px; }
.findInputBox p{ font-size: 15px; letter-spacing: -0.6px; color: #000; margin-bottom: 8px; font-family: 'SUIT-Bold'; }
.findInputBox input{ width: 100%; height: 48px; border: 1px solid #d8d8d8; border-radius: 6px; }

.btn_find{ margin-top: 50px; width: 100%; height: 56px; border-radius: 6px; background-color: #333; font-size: 16px; letter-spacing: -0.64px; color: #fff; font-family: 'SUIT-SemiBold'; }

.findComment{ font-size: 15px; letter-spacing: -0.75px; color: #0f59b5; margin-bottom: 18px; margin-top: -20px; text-align: center; }
.findResultBox{ width: 100%; height: 80px; border: 1px solid #d8d8d8; display: flex; align-items: center; justify-content: center; gap: 10px; border-radius: 6px; text-align: center; padding: 0 20px; word-break: keep-all; }
.findResultBox b{ font-size: 15px; letter-spacing: -0.6px; color: #000; font-family: 'SUIT-Bold'; line-height: 1.2; }
.findResultBox p{ font-size: 18px; letter-spacing: -0.72px; color: #0f59b5; font-family: 'SUIT-Bold'; }
.findResultBox span{ font-size: 15px; letter-spacing: -0.6px; color: #000; }

@media screen and (max-width:768px){
    .findTitle{ font-size: 30px; margin-bottom: 30px; }
    .findTab{ margin-bottom: 40px; }
    .findTab button{ font-size: 14px; }
    .findTab button.on{ font-size: 15px; }
}

/* 로그인 */
.loginWrap{ padding-top: 20px; }
.loginWrap .inner{ max-width: calc(400px + 40px); }
.loginTitle{ font-size: 38px; letter-spacing: -1.9px; font-family: 'SUIT-Bold'; margin-bottom: 60px; text-align: center; }
.loginTitle p{ font-size: 16px; letter-spacing: -0.64px; color: #444; margin-top: 20px; }
.loginWrap input[type="text"],
.loginWrap input[type="password"]{ width: 100%; height: 48px; border-radius: 6px; border: 1px solid #d8d8d8; }
.loginWrap input[type="password"]{ margin-top: 20px; }
.loginOption{ display: flex; align-items: center; justify-content: space-between; margin: 16px 0 30px; }
.loginOption input[type="checkbox"] + label{ font-size: 14px; letter-spacing: -0.7px; color: #000; font-family: 'SUIT-SemiBold'; }
.loginOption input[type="checkbox"] + label::before{ width: 22px; height: 22px; border-radius: 100%; background: #d9d9d9 url(../images/cb-wh.png) no-repeat center; }
.loginOption input[type="checkbox"]:checked + label::before{ background: #000 url(../images/cb-wh.png) no-repeat center; }
.loginOption .findLink{ display: flex; align-items: center; }
.loginOption .findLink a{ font-size: 14px; letter-spacing: -0.7px; color: #000; font-family: 'SUIT-SemiBold'; display: flex; align-items: center; }
.loginOption .findLink a::after{ content: ''; display: block; width: 1px; height: 12px; background-color: #c3c3c3; margin: 0 16px; }
.loginOption .findLink a:last-child::after{ display: none; }
.loginWrap .btn_login{ width: 100%; height: 56px; border-radius: 6px; background-color: #333; font-size: 16px; letter-spacing: -0.64px; color: #fff; font-family: 'SUIT-SemiBold'; margin-bottom: 60px; }
.loginWrap .btn_join{ width: 100%; height: 56px; border-radius: 6px; border: 1px solid #a7a7a7; font-size: 16px; letter-spacing: -0.64px; color: #000; font-family: 'SUIT-SemiBold'; }


/* 연구장비현황 - 검색 */
.equipSearch{ background-color: #eef4f8; border: 1px solid #d7e0e7; border-radius: 10px; padding: 34px 40px 42px; display: flex; flex-direction: column; gap: 22px; margin-bottom: 40px; }
.searchLine{ width: 100%; display: flex; gap: 20px; }
.searchArea{ width: 100%; }
.searchArea p{ font-size: 14px; letter-spacing: -0.56px; font-family: 'SUIT-Bold'; margin-bottom: 10px; }
.searchArea .searchBox{ width: 100%; display: flex; gap: 8px; }
.searchArea .searchBox select{ width: 100%; border: none; background-color: #d8e6f0; border-radius: 6px; font-size: 16px; letter-spacing: -0.64px; }
.searchArea .searchBox input{ width: 100%;border-radius: 6px; border: 1px solid #c0d0dc; font-size: 16px; letter-spacing: -0.64px; }
.searchArea .searchBox input::placeholder{ color: #999; }
.searchArea.searchInput{ flex: 300px 1; width: auto; }
.equipSearch .searchBtn{ display: flex; justify-content: flex-end; gap: 8px; margin-top: 6px; }
.equipSearch .searchBtn .btn_reset{ width: 130px; height: 56px; border-radius: 6px; border: 1px solid #a7a7a7; display: flex; align-items: center; justify-content: center; gap: 6px; font-size: 15px; letter-spacing: -0.6px; color: #333; font-family: 'SUIT-SemiBold'; }
.equipSearch .searchBtn .btn_search{ width: 240px; height: 56px; border-radius: 6px; background-color: #333; display: flex; align-items: center; justify-content: center; gap: 6px; font-size: 15px; letter-spacing: -0.6px; color: #fff; font-family: 'SUIT-SemiBold'; }
@media screen and (max-width:1024px){
    .equipSearch{ padding: 34px 20px 40px; }
    .searchLine{ flex-wrap: wrap; }
    .searchArea .searchBox:not(.searchInput){ flex-direction: column; }
}
/* 연구장비현황 - 목록 */
.equipWrap{ display: flex; gap: 40px; }
.equipList{ width: 100%; display: flex; flex-direction: column; gap: 10px; }
.equipListItem{ border: 1px solid #e6e6e6; border-radius: 10px; padding: 40px; display: flex; gap: 30px; cursor: pointer; }
.equipListItem.on{ background-color: #f7f7f7; border-color: #b4b4b4; }
.equipListItem .imgBox{ width: 130px; height: 130px; flex: none; }
.equipListItem .imgBox img{ width: 100%; height: 100%; object-fit: cover; }
.equipListItem .textBox{ height: 100%; display: flex; flex-direction: column; justify-content: space-between; }
.equipListItem .textBox .equipName h4{ font-size: 18px; letter-spacing: -0.9px; color: #010101; font-family: 'SUIT-Bold'; margin-bottom: 8px; line-height: 1.2; }
.equipListItem .textBox .equipName p{ font-size: 13px; letter-spacing: -0.52px; color: #333; line-height: 16px; margin-bottom: 8px; }
.equipListItem .textBox .equipName span{ font-size: 14px; letter-spacing: -0.56px; color: #3963af; }
.equipListItem .textBox .locate p{ font-size: 15px; letter-spacing: -0.6px; color: #000; font-family: 'SUIT-Bold'; }

.equipView{ width: 51.5%; height: auto; flex: none; background-color: #f7f7f7; border-radius: 10px; padding: 40px; display: flex; flex-direction: column; }
.equipView .btn_equipPopupClose{ display: none; }
.equipView .labelArea{ display: flex; flex-wrap: wrap; gap: 4px; row-gap: 8px; margin-bottom: 30px; }
.equipView .equipType{ font-size: 15px; letter-spacing: -0.6px; color: #333; margin-bottom: 30px; }
.equipViewTitle{ display: flex; gap: 30px; padding-bottom: 40px; border-bottom: 1px solid #e6e6e6; }
.equipViewTitle .equipViewImg{ position: relative; width: 180px; height: 180px; flex: none; }
.equipViewTitle .equipViewImg img{ width: 100%; height: 100%; object-fit: cover; }
.equipViewTitle .equipViewImg .btn_imgView{ width: 40px; height: 40px; position: absolute; bottom: 6px; right: 6px; border-radius: 6px; background-color: rgba(244,244,244,0.9); }
.equipViewTitle .equipViewImg .btn_imgView img{ width: auto; height: auto; object-fit: none; margin: 0 auto; }
.equipViewTitle .equipViewImg .btn_imgView img.ico_imgView{ display: block; }
.equipViewTitle .equipViewImg .btn_imgView img.ico_imgView_hov{ display: none; }
.equipViewTitle .equipViewImg .btn_imgView:hover{ background-color: rgba(0,0,0,0.5); }
.equipViewTitle .equipViewImg .btn_imgView:hover img.ico_imgView{ display: none; }
.equipViewTitle .equipViewImg .btn_imgView:hover img.ico_imgView_hov{ display: block; }
.equipViewTitle .equipViewText{ display: flex; flex-direction: column; justify-content: space-between; }
.equipViewTitle .equipViewText .equipName h4{ font-size: 32px; letter-spacing: -1.6px; color: #010101; line-height: 36px; font-family: 'SUIT-Bold'; margin-bottom: 12px; }
.equipViewTitle .equipViewText .equipName p{ font-size: 16px; letter-spacing: -0.64px; color: #333; line-height: 18px; margin-bottom: 12px; }
.equipViewTitle .equipViewText .equipName span.num{ font-size: 15px; letter-spacing: -0.6px; color: #3963af; }
.equipViewTitle .equipViewText .locate p{ font-size: 15px; letter-spacing: -0.6px; color: #000; font-family: 'SUIT-Bold'; }
.equipView .equipViewInfo{ flex: 200px; overflow: auto; margin: 40px 0; font-size: 15px; letter-spacing: -0.6px; color: #444; line-height: 22px; }
.equipView .equipViewInfo b{ font-size: 14px; letter-spacing: -0.56px; font-family: 'SUIT-Bold'; }
.equipView .equipViewInfo p{ font-size: 15px; letter-spacing: -0.6px; color: #444; line-height: 22px; }
.equipView .btn_equipView{ width: 100%; min-height: 36px; border-radius: 6px; background-color: #444; font-size: 15px; line-height: 18px; padding: 6px 10px; word-break: keep-all; letter-spacing: -0.6px; color: #fff; }

.label{ display: flex; align-items: center; justify-content: center; height: 30px; border-radius: 15px; padding: 0 16px; font-size: 15px; letter-spacing: -0.75px; }
.label.label_blue{ background-color: #7ba5d9; color: #fff; }
.label.label_green{ background-color: #b8d17c; color: #fff; }
.label.label_aqua{ background-color: #7bc3c7; color: #fff; }
.label.label_purple{ background-color: #8690cc; color: #fff; }
.label.label_grey{ background-color: #868686; color: #fff; }

.imgViewArea{ text-align: center; }
.imgViewArea img{ max-width: 100%; }
@media screen and (max-width:1200px){
    .equipList{ border: 1px solid #e6e6e6; gap: 0; }
    .equipListItem{ border: none; border-bottom: 1px solid #e6e6e6; border-radius: 0; padding: 30px 20px; gap: 26px; }
    .equipListItem.on{ border: none; border-bottom: 1px solid #e6e6e6; background-color: transparent; }
    .equipListItem:last-child{ border-bottom: none; }
    .equipListItem .imgBox{ width: 100px; height: 100px; }
    .equipListItem .textBox .equipName h4{ font-size: 16px; letter-spacing: -0.8px; }
    .equipListItem .textBox .equipName p{ display: none; }
    .equipListItem .textBox .num p{ font-size: 13px; letter-spacing: -0.52px; }
    .equipListItem .textBox .locate p{ font-size: 14px; letter-spacing: -0.56px; }

    .equipView{ display: none; position: fixed; width: 100%; height: calc(var(--vh, 1vh) * 100); top: 0; left: 0; overflow: auto; padding: 60px 20px 40px; border-radius: 0; }
    .equipView .btn_equipPopupClose{ display: block; position: absolute; top: 16px; right: 16px; }
    .equipView .labelArea{ margin-bottom: 24px; }
    .equipView .equipType{ margin-bottom: 16px; }
    .equipViewTitle{ flex-direction: column-reverse; gap: 26px; padding-bottom: 0; border-bottom: none; }
    .equipViewTitle .equipViewText .equipName h4{ font-size: 22px; letter-spacing: -1.1px; line-height: 30px; margin-bottom: 16px; }
    .equipViewTitle .equipViewText .equipName p{ font-size: 15px; letter-spacing: -0.6px; }
    .equipViewTitle .equipViewText .equipName span.num{ display: block; margin-bottom: 14px; }
    .equipViewTitle .equipViewText .locate p{ font-size: 15px; letter-spacing: -0.6px; color: #000; font-family: 'SUIT-Bold'; }
    .equipViewTitle .equipViewImg{ width: 100%; height: 0; padding-bottom: 100%; overflow: hidden; }
    .equipViewTitle .equipViewImg img{ position: absolute; top: 0; left: 0; }
    .equipViewTitle .equipViewImg .btn_imgView{ display: none; }

    .label{ font-size: 13px; letter-spacing: -0.65px; padding: 0 10px; height: 24px; border-radius: 12px; }
}

/* 분석기술지원정보 - 목록 */
.skillList{ display: flex; flex-direction: column; gap: 40px; }
.skillListItem{ border: 1px solid #e6e6e6; background-color: #f7f7f7; padding: 30px 30px 50px; border-radius: 10px; }
.skillListItem .skillItemHead{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 50px; }
.skillListItem .skillItemHead h1{ display: flex; align-items: center; font-size: 18px; letter-spacing: -0.72px; color: #000; font-family: 'SUIT-Bold'; gap: 16px; }
.skillListItem .skillItemHead h1 img{ height: 30px; }
.skillListItem .skillItemHead .btn_skillList{ width: 200px; height: 40px; background-color: #444; border-radius: 6px; display: flex; align-items: center; justify-content: center; gap: 20px; font-size: 15px; letter-spacing: -0.6px; color: #fff; font-family: 'SUIT-SemiBold'; flex: none; }
.skillListItem a{ font-size: 28px; letter-spacing: -1.4px; color: #0f59b5; font-family: 'SUIT-Bold'; line-height: 1.2; margin-bottom: 16px; }
.skillLabelArea{ display: flex; flex-wrap: wrap; gap: 4px; row-gap: 8px; }
.skillLabelArea .skillLabel{ height: 30px; border-radius: 15px; background-color: #e5e5e5; display: flex; align-items: center; justify-content: center; padding: 0 14px; font-size: 15px; letter-spacing: -0.6px; color: #3963af; }
.skillListItem .skillTextArea{ display: flex; flex-wrap: wrap; row-gap: 16px; margin-top: 30px; }
.skillListItem .skillTextArea .skillTextBox{ display: flex; align-items: baseline; gap: 8px; }
.skillListItem .skillTextArea .skillTextBox::after{ content: ''; display: block; width: 1px; height: 12px; background-color: #ccc; margin: 0 28px; }
.skillListItem .skillTextArea .skillTextBox:last-child::after{ display: none; }
.skillListItem .skillTextArea .skillTextBox b{ width: 50px; font-size: 14px; letter-spacing: -0.56px; color: #000; font-family: 'SUIT-Bold'; flex: none; }
.skillListItem .skillTextArea .skillTextBox p{ font-size: 15px; letter-spacing: -0.6px; color: #444; }
@media screen and (max-width:1024px){
    .skillList{ gap: 30px; }
    .skillListItem{ padding: 30px 20px 100px; position: relative; }
    .skillListItem .skillItemHead{ margin-bottom: 42px; }
    .skillListItem .skillItemHead h1{ flex-direction: column; font-size: 17px; letter-spacing: -0.68px; align-items: flex-start; }
    .skillListItem .skillItemHead h1 img{ height: 24px; }
    .skillListItem .skillItemHead .btn_skillList{ position: absolute; bottom: 30px; left: 23px; }
    .skillListItem a{ font-size: 24px; letter-spacing: -1.2px; line-height: 30px; margin-bottom: 20px; }
    .skillLabelArea .skillLabel{ height: 26px; border-radius: 13px; padding: 0 10px; font-size: 14px; letter-spacing: -0.56px; }
    .skillListItem .skillTextArea{ flex-direction: column; margin-top: 40px; }
    .skillListItem .skillTextArea .skillTextBox::after{ display: none; }
}

/* 분석기술지원정보 - 상세 */
.pageFileArea{ display: flex; flex-wrap: wrap; gap: 6px; justify-content: flex-end; margin-bottom: 30px; }
.pageFileArea button{ min-width: 100px; height: 30px; display: flex; align-items: center; justify-content: space-between; gap: 6px; padding: 0 10px; border-radius: 6px; border: 1px solid #b4b4b4; font-size: 14px; letter-spacing: -0.56px; color: #3963af; font-family: 'SUIT-SemiBold'; }
.pageFileArea button.downAll{ color: #000; }

.skillInfoWrap{ border-radius: 10px; border: 1px solid #e6e6e6; background-color: #f7f7f7; display: flex; margin-bottom: 30px; }
.skillInfoArea{ width: 100%; padding: 30px 40px; border-right: 1px solid #e6e6e6; }
.skillInfoArea:last-child{ border-right: none; }
.areaTitle{ margin-bottom: 30px; }
.areaTitle h3{ width: fit-content; min-width: 90px; display: flex; align-items: center; justify-content: center; padding: 0 18px; height: 30px; border-radius: 15px; background-color: #3b3b3b; font-size: 15px; letter-spacing: -0.75px; color: #fff; font-family: 'SUIT-Bold'; }
.skillInfoName{ display: flex; gap: 30px; }
.skillInfoName .skillInfoImg{ width: 180px; height: 180px; flex: none; }
.skillInfoName .skillInfoImg img{ width: 100%; height: 100%; object-fit: cover; }
.skillInfoName .skillInfoText{ display: flex; flex-direction: column; justify-content: space-between; }
.skillInfoName .skillInfoText .name h4{ font-size: 22px; letter-spacing: -1.1px; color: #010101; line-height: 28px; font-family: 'SUIT-Bold'; margin-bottom: 18px; }
.skillInfoName .skillInfoText .name p{ font-size: 16px; letter-spacing: -0.64px; color: #333; line-height: 18px; margin-bottom: 12px; }
.skillInfoName .skillInfoText .name span{ font-size: 15px; letter-spacing: -0.6px; color: #3963af; }
.skillInfoName .skillInfoText .locate p{ font-size: 15px; letter-spacing: -0.6px; color: #000; font-family: 'SUIT-Bold'; }

.skillInfoTable{ display: flex; flex-direction: column; gap: 22px; }
.skillInfoTable .skillInfoTableCol{ display: flex; align-items: baseline; }
.skillInfoTable .skillInfoTableCol b{ font-size: 14px; letter-spacing: -0.56px; font-family: 'SUIT-Bold'; width: 70px; flex: none; }
.skillInfoTable .skillInfoTableCol p{ font-size: 16px; letter-spacing: -0.64px; color: #444; }
.skillInfoTable .skillInfoTableCol .skillInfoTableCell{ display: flex; flex-wrap: wrap; gap: 16px; row-gap: 10px; }
.skillInfoTable .skillInfoTableCol .skillInfoTableCell input[type="checkbox"] + label{ gap: 2px; font-size: 16px; color: #444; font-family: 'SUIT-Medium'; cursor: auto; pointer-events: none; }
.skillInfoTable .skillInfoTableCol .skillInfoTableCell input[type="checkbox"] + label::before{ width: 16px; height: 16px; border: 1px solid #3b3b3b; background-color: transparent; }
.skillInfoTable .skillInfoTableCol .skillInfoTableCell input[type="checkbox"]:checked + label::before{ border: none; background: #3b3b3b url(../images/ico_check_9.png) no-repeat center; }
.skillInfoTable .skillInfoTableRow{ display: flex; flex-direction: column; gap: 16px; }
.skillInfoTable .skillInfoTableRow b{ font-size: 14px; letter-spacing: -0.56px; font-family: 'SUIT-Bold'; }

.skillInfoContent{ border: 1px solid #e6e6e6; border-radius: 10px; padding: 30px 40px; }
@media screen and (max-width:1024px){
    .pageFileArea{ justify-content: flex-start; margin-bottom: 24px; }

    .skillInfoWrap{ flex-direction: column; padding: 24px 24px 30px; }
    .skillInfoArea{ padding: 0; border-right: none; border-bottom: 1px solid #e6e6e6; padding-bottom: 30px; margin-top: 30px; }
    .skillInfoArea:first-child{ margin-top: 0; }
    .skillInfoArea:last-child{ border-bottom: none; padding-bottom: 0; }
    .areaTitle{ margin-bottom: 20px; }
    .areaTitle h3{ min-width: 72px; padding: 0 12px; height: 24px; border-radius: 12px; font-size: 14px; letter-spacing: -0.7px; }
    .skillInfoName{ gap: 20px; }
    .skillInfoName .skillInfoImg{ width: 100px; height: 100px; }
    .skillInfoName .skillInfoText .name h4{ font-size: 16px; letter-spacing: -0.8px; line-height: 20px; margin-bottom: 14px; }
    .skillInfoName .skillInfoText .name p{ display: none; }
    .skillInfoName .skillInfoText .name span{ font-size: 14px; letter-spacing: -0.56px; }
    .skillInfoName .skillInfoText .locate p{ font-size: 14px; letter-spacing: -0.56px; }

    .skillInfoContent{ padding: 24px 24px 20px; }
}

/* 마이페이지 인증 */
.mypageAuth{ text-align: center; }
.mypageAuth h1{ font-size: 22px; letter-spacing: -1.1px; line-height: 32px; font-family: 'SUIT-Bold'; margin-bottom: 40px; }
.mypageAuthInput{ display: flex; gap: 8px; justify-content: center; margin-top: 48px; }
.mypageAuthInput input{ width: 100%; max-width: 300px; height: 48px; border-radius: 6px; }
.mypageAuthInput button{ width: 100px; height: 48px; flex: none; border-radius: 6px; background-color: #333; font-variant: 16px; letter-spacing: -0.64px; color: #fff; font-family: 'SUIT-SemiBold'; }


/* 검색결과 */
.searchResultWrap{ height: 180px; padding: 0 20px; display: flex; align-items: center; justify-content: center; gap: 20px; background-color: #eef4f8; margin-bottom: 40px; }
.searchResultWrap p{ font-size: 20px; letter-spacing: -0.8px; color: #010101; font-family: 'SUIT-Bold'; flex: none; }
.searchResultWrap .searchBox{ width: 100%; max-width: 500px; height: 64px; border-radius: 32px; border: 2px solid #333; background-color: #fff; padding: 0 26px; display: flex; align-items: center; gap: 10px; }
.searchResultWrap .searchBox input{ height: 100%; border: none; padding: 0; font-size: 20px; width: 100%; }
.searchResultWrap .searchBox button.btn_search{ flex: none; }

.searchResultCount{ margin-bottom: 60px; text-align: center; }
.searchResultCount .searchCount{ font-size: 18px; letter-spacing: -0.9px; color: #333; font-family: 'SUIT-SemiBold'; margin-bottom: 40px; }
.searchResultCount .searchCount span{ font-size: 20px; letter-spacing: -1px; color: #000; font-family: 'SUIT-Bold'; }
.searchResultCount .searchCount b{ font-size: 20px; letter-spacing: -1px; color: #0f59b5; font-family: 'SUIT-Bold'; }
.searchType{ margin: 0 auto; display: flex; justify-content: center; }
.searchType button{ width: 100%; max-width: 200px; height: 50px; font-size: 17px; letter-spacing: -0.85px; color: #000; font-family: 'SUIT-Bold'; border: 1px solid #b8b8b8; }
.searchType button + button{ border-left: none; }
.searchType button.on{ background-color: #0f59b5; color: #fff; }

.searchResultArea + .searchResultArea{ margin-top: 60px; }
.searchResultTit{ display: flex; align-items: flex-end; justify-content: space-between; margin-bottom: 20px; }
.searchResultTit h2{ font-size: 32px; letter-spacing: -1.6px; color: #333; font-family: 'SUIT-Bold'; }
.searchResultTit h2 span{ font-size: 20px; letter-spacing: -1px; color: #444; margin-left: 4px; font-family: 'SUIT-Bold'; }
.searchResultTit a{ font-size: 14px; letter-spacing: -0.7px; color: #333; }
.searchResultList{ border-top: 2px solid #000; }
.searchResultItem{ padding: 30px 0; border-bottom: 1px solid #e6e6e6; }
.searchResultItem .title{ display: flex; align-items: center; gap: 16px; margin-bottom: 24px; }
.searchResultItem .title a{ width: 100%; font-size: 18px; letter-spacing: -0.9px; color: #333; font-family: 'SUIT-Bold'; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.searchResultItem .title a b{ font-size: 18px; letter-spacing: -0.9px; color: #0f59b5; font-family: 'SUIT-Bold'; }
.searchResultItem .title span{ font-size: 13px; letter-spacing: -0.52px; color: #777; flex: none;  }
.searchResultItem .cont{ font-size: 15px; letter-spacing: -0.6px; color: #333; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.searchResultItem .cont b{ font-size: 15px; letter-spacing: -0.6px; color: #0f59b5; background-color: #d8eaf6; font-family: 'SUIT-Bold'; }
@media screen and (max-width:1024px){
    .searchResultWrap{ height: 120px; margin-bottom: 30px; }
    .searchResultWrap p{ font-size: 18px; letter-spacing: -0.8px; }
    .searchResultWrap .searchBox{ height: 50px; padding: 0 16px; border-radius: 25px; }

    .searchResultCount{ margin-bottom: 40px; }
    .searchResultCount .searchCount{ font-size: 16px; margin-bottom: 30px; }
    .searchResultCount .searchCount span{ font-size: 18px; }
    .searchResultCount .searchCount b{ font-size: 18px; }
    .searchType button{ height: 46px; font-size: 14px; }

    .searchResultArea + .searchResultArea{ margin-top: 40px; }
    .searchResultTit{ margin-bottom: 14px; }
    .searchResultTit h2{ font-size: 24px; letter-spacing: -1.2px; }
    .searchResultTit h2 span{ font-size: 16px; }
    .searchResultTit a{ font-size: 13px; }
    .searchResultItem{ padding: 16px 0; }
    .searchResultItem .title{ gap: 10px; margin-bottom: 16px; }
    .searchResultItem .title a{ font-size: 16px; letter-spacing: -0.6px; }
    .searchResultItem .title a b{ font-size: 16px; letter-spacing: -0.6px; }
    .searchResultItem .title span{ display: none; }
    .searchResultItem .cont{ font-size: 14px; letter-spacing: -0.56px; }
    .searchResultItem .cont b{ font-size: 14px; letter-spacing: -0.56px; }
}





