body{
    background: url("../images/rootBg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.inner{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.titleSection{
    background: url("../images/topBg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20vh 0;
}