body{
    background: url("http://127.0.0.1:5500/resources/images/rootBg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.inner{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.titleSection{
    background: url("http://127.0.0.1:5500/resources/images/topBg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20vh 0;
}