* {
  box-sizing: border-box;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 600px;
  border: 1px solid #333;
  padding: 20px;
  margin: 0 auto;
  border-radius: 1rem;
  padding-bottom: 5rem;
}

h1 {
  font-size: 3rem;
}
.btn {
  margin-top: 1rem;
  font-size: 1.1rem;
  width: 12rem;
  height: 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#d-day-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.d-day-child-container {
  text-align: center;
  margin-right: 1rem;
}
.d-day-child-container span {
  font-size: 1.3rem;
}

.target-input{
  width: 6rem;
  height: 2rem;
  text-align: center;
}
.btn_start{
  background-color: #333;
  color: #fff;
}
.btn_reset{
  border: 1px solid #333;
  background-color: transparent;
}