/*----------------------------------- 텍스트 ----------*/
.mobile_only{ display: none !important; }
.mobile_only-f{ display: none !important; }

.red_dot::after{ content: "*"; color: #ef280e; margin-left: 2px; }
.black_dot::after{ content: "*"; color: #000; margin-left: 2px; }

.bold{ font-family:'SUIT-Bold'; }

/*-- 정렬 --*/
.text-c{ text-align: center !important; }
.text-r{ text-align: right; }
.text-l{ text-align: left !important; }

/*-- 말줄임 --*/
.text_cut1{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.text_cut2{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.text_cut3{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.text_cut4{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }

/*-- 인풋클리어 --*/
.inputClear_wrap{ position: relative; height: 100%; }
.inputClearBtn{ position: absolute; right: 10px; top: 50%; transform: translateY(-50%); visibility: hidden; }
.inputClearBtn img{ position: static !important; }

/*-- 로딩 --*/
.loading_area{ position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; z-index: 9999; }
.loading_area .loading_box{ position: relative; width: 100%; height: 100%; }
.loading_area .loading_box img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/*---------------------------------- 레이아웃 정렬 --------------------------*/
.flex-align-c{display:flex; align-items:center;}
.flex-align-e{display:flex; align-items:flex-end;}

.flex-just-b{display: flex; justify-content:space-between;}
.flex-just-c{display: flex; justify-content:center;}
.flex-just-s{display: flex; justify-content:flex-start;}

.dis_block{ display: block !important; }
.dis_flex{ display: flex !important; }
.dis_none{ display: none !important; }
.dis_con{ display: contents !important; }

.flex_none{ flex: none; }

.ver_mid{ vertical-align: middle; }

.OF_auto{ overflow-x: auto; }
.OF_auto::-webkit-scrollbar{
    width:6px;
    height:6px;
    background-color:#fff;
}
.OF_auto::-webkit-scrollbar-thumb{
    background:#afafaf;
    border-radius: 3px;
}

.fixed{ position: fixed !important; }


/*----------------------------- 체크박스 & 라디오 ----------------*/
/*-- 체크박스 --*/
input[type="checkbox"] {display:none !important;}
input[type="checkbox"] + label {display:inline-flex; align-items:center; font-size: 14px; color: #000; gap: 8px; cursor: pointer; }
input[type="checkbox"] + label::before{content:''; width: 24px; height: 24px; background: #e6e6e6 url(../images/check-wh.png); background-repeat: no-repeat; background-position: center; background-size: 12px; flex: none; border-radius: 100%; border: none;  }
input[type="checkbox"]:checked + label::before{content:''; background: var(--mainColor) url(../images/check-wh.png); background-repeat: no-repeat; background-position: center; background-size: 12px; }

/*-- 라디오 --*/
input[type="radio"] {display:none !important;}
input[type="radio"] + label { display:inline-flex; align-items:center; justify-content: center; gap: 8px; white-space:nowrap; font-size: 14px; color: #000; cursor: pointer; margin-right: 30px; }
input[type="radio"] + label::before{ box-sizing: border-box; content: ""; width: 20px; height: 20px; border-radius: 20px; background-color: #fff; box-shadow: 0 0 0 1px #cecece; }
input[type="radio"]:checked + label::before{ background-color: #d7262b; border: 4px solid #fff; }

/*------------------------------------------ 입력폼 ---------------*/
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"]{ background-color: #fff; border: 1px solid #d7d7d7; border-radius: 6px; padding: 0 10px; font-size: 14px; height: 40px; color: #000; }
input[type="text"].readonly,
input[type="number"].readonly,
input[type="password"].readonly,
input[type="tel"].readonly,
input[type="email"].readonly,
input[type="text"][readonly]:not(.date),
input[type="password"][readonly],
input[type="number"][readonly],
input[type="tel"][readonly],
input[type="email"][readonly]{ border: none; background-color: #ececec; }

textarea{ background-color: #fff; border: 1px solid #d7d7d7; padding: 15px; font-size: 14px; border-radius: 6px; min-height: 200px; }

select{ height: 28px; border: 1px solid #cecece; border-radius: 4px; padding: 0 22px 0 8px; font-size: 13px; color: #000; background: #fff url(../images/mapSelect.png) no-repeat 50% / 7px; background-position-x:calc(100% - 10px); background-size: 11px; appearance:none; -webkit-appearance:none; }

.input-number-password{ -webkit-text-security: circle; }

/* --------------- datepicker ---------------- */
.datepicker_box{ display: flex; align-items: center; gap: 4px; margin: 4px 0; justify-content: space-between; }
.datepicker_box input{ width: 48% !important; }
input.date{ width: 140px; background: #fff url(../images/ico_calendar.png) no-repeat 50%; background-position: calc(100% - 8px); background-size: 16px; padding: 0 6px; }
input.date.readonly{ width: 140px; background: #fff url(../images/ico_calendar.png) no-repeat 50%; background-position: calc(100% - 10px); background-size: 17px;  }
.ui-datepicker{ z-index: 10 !important; }
.ui-datepicker .ui-datepicker-header{ padding: 6px 0 10px; }
.ui-datepicker .ui-datepicker-title{ margin: 0 auto; padding: 0 40px; }
.ui-datepicker .ui-datepicker-title select{ height: 32px; border: none; background-color: #f4f4f4; font-size: 15px; font-family:'SUIT-SemiBold'; margin: 0; }
.ui-datepicker .ui-datepicker-title span{ font-family:'SUIT-Bold'; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{ width: 32px; height: 32px; background-color: var(--mainColor) !important; border: none; top: 6px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{ background-size: 8px; }
.ui-datepicker .ui-datepicker-prev span{ background-image: url(../images/page_prev_wh.png); }
.ui-datepicker .ui-datepicker-next span{ background-image: url(../images/page_next_wh.png); }

.ui-widget-header .ui-state-disabled{ background-color: #e2e2e2 !important; border: none; }
.ui-datepicker .ui-datepicker-prev.ui-state-disabled span{ background-image: url(../images/page_prev.png); }
.ui-datepicker .ui-datepicker-next.ui-state-disabled span{ background-image: url(../images/page_next.png); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button{ width: 28px; height: 28px; line-height: 28px; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ background-color: var(--mainColor) !important; }
.ui-widget-content .ui-state-default:focus { box-shadow: 0 0 0 2px var(--mainColor) !important; }

/*----------------------------- 버튼 ----------------*/

/*-- 버튼 레이아웃 --*/
.btn_area{ display: flex; gap: 8px; align-items: flex-start; justify-content: space-between; margin-top: 30px; }
.btn_area .pagination{ margin-top: 0; }
.btn_area .btn_left{ width: 100%; display: flex; align-items: center; gap: 8px; justify-content: flex-start; }
.btn_area .btn_center{ width: 100%; display: flex; align-items: center; gap: 8px; justify-content: center; }
.btn_area .btn_right{ width: 100%; display: flex; align-items: center; gap: 8px; justify-content: flex-end; }
.btn_img{ display: flex; align-items: center; justify-content: center; gap: 4px; }

.btn_text{ height: 20px; font-size: 15px; letter-spacing: -0.75px; font-family:'AppleSDGothicNeoSB'; margin-top: 20px; }
.slidePopup .btn_text{ width: 100%; }

.botBtn2way{ display: flex; align-items: center; gap: 4px; }
/*-- 사이즈 --*/

/* 테이블 */

/* 하단버튼 */
.btn_bot1{ width: 100%; height: 48px; border-radius: 24px; font-size: 15px; letter-spacing: -0.75px; font-family:'AppleSDGothicNeoSB'; }
.btn_bot2{ width: 100%; height: 48px; border-radius: 24px; font-size: 16px; letter-spacing: -0.75px; font-family:'AppleSDGothicNeoSB'; }

/*-- 컬러 --*/
.btn_mainColor{ background-color: var(--mainColor); color: #fff; }
.btn_mainColor_line{ border: 1px solid var(--mainColor); color: var(--mainColor); }

.btn_white_line{ background-color: transparent; border: 1px solid #fff; color: #fff; }

.btn_black{ background-color: #444; color: #fff; }
.btn_black_line{ background-color: transparent; border: 1px solid #555; color: #000; }

.btn_grey_line{ background-color: transparent; border: 1px solid #ccc; color: #000; }

.btn_disabled{ background-color: #c7c7c7; color: #fff; }

@media screen and (max-width:1024px){
    .mobile_only{ display: block !important; }
    .mobile_only-f{ display: flex !important; }
    .mobile_none{ display: none !important; }
}
/*----------------------------- width / height / margin / padding ----------------*/
/*width*/
.W10 { width: 10px !important; }
.W20 { width: 20px !important; }
.W30 { width: 30px !important; }
.W40 { width: 40px !important; }
.W50 { width: 50px !important; }
.W56 { width: 56px !important; }
.W60 { width: 60px !important; }
.W70 { width: 70px !important; }
.W80 { width: 80px !important; }
.W90 { width: 90px !important; }
.W100 { width: 100px !important; }
.W107 { width: 107px !important; }
.W110 { width: 110px !important; }
.W115 { width: 115px !important; }
.W120 { width: 120px !important; }
.W130 { width: 130px !important; }
.W139 { width: 139px !important; }
.W140 { width: 140px !important; }
.W150 { width: 150px !important; }
.W160 { width: 160px !important; }
.W170 { width: 170px !important; }
.W175 { width: 175px !important; }
.W180 { width: 180px !important; }
.W185 { width: 185px !important; }
.W188 { width: 188px !important; }
.W190 { width: 190px !important; }
.W200 { width: 200px !important; }
.W206 { width: 206px !important; }
.W207 { width: 207px !important; }
.W210 { width: 210px !important; }
.W212 { width: 212px !important; }
.W215 { width: 215px !important; }
.W220 { width: 220px !important; }
.W225 { width: 225px !important; }
.W226 { width: 226px !important; }
.W227 { width: 227px !important; }
.W228 { width: 228px !important; }
.W229 { width: 229px !important; }
.W230 { width: 230px !important; }
.W235 { width: 235px !important; }
.W240 { width: 240px !important; }
.W250 { width: 250px !important; }
.W255 { width: 255px !important; }
.W260 { width: 260px !important; }
.W263 { width: 263px !important; }
.W270 { width: 270px !important; }
.W275 { width: 275px !important; }
.W278 { width: 278px !important; }
.W280 { width: 280px !important; }
.W290 { width: 290px !important; }
.W300 { width: 300px !important; }
.W310 { width: 310px !important; }
.W320 { width: 320px !important; }
.W330 { width: 330px !important; }
.W340 { width: 340px !important; }
.W350 { width: 350px !important; }
.W354 { width: 354px !important; }
.W360 { width: 360px !important; }
.W370 { width: 370px !important; }
.W380 { width: 380px !important; }
.W390 { width: 390px !important; }
.W394 { width: 394px !important; }
.W400 { width: 400px !important; }
.W410 { width: 410px !important; }
.W420 { width: 420px !important; }
.W425 { width: 425px !important; }
.W430 { width: 430px !important; }
.W432 { width: 432px !important; }
.W435 { width: 435px !important; }
.W440 { width: 440px !important; }
.W450 { width: 450px !important; }
.W460 { width: 460px !important; }
.W470 { width: 470px !important; }
.W480 { width: 480px !important; }
.W490 { width: 490px !important; }
.W500 { width: 500px !important; }
.W510 { width: 510px !important; } /*20151019추가*/
.W547 { width: 547px !important; }
.W550 { width: 550px !important; }
.W560 { width: 560px !important; }
.W600 { width: 600px !important; }
.W607 { width: 607px !important; }
.W650 { width: 650px !important; }
.W660 { width: 660px !important; }
.W670 { width: 670px !important; }
.W680 { width: 680px !important; }
.W690 { width: 690px !important; }
.W700 { width: 700px !important; }
.W750 { width: 750px !important; }
.W730 { width: 730px !important; }
.W800 { width: 800px !important; }
.W820 { width: 820px !important; }
.W850 { width: 850px !important; }
.W860 { width: 860px !important; }
.W870 { width: 870px !important; }
.W880 { width: 880px !important; }
.W890 { width: 890px !important; }
.W900 { width: 900px !important; }
.W914 { width: 914px !important; }
.W1000 { width: 1000px !important; }
.W1002 { width: 1002px !important; }
.W1014 { width: 1014px !important; }
.W1024 { width: 1024px !important; }
.W1171 { width: 1171px !important; }
.W1440 { width: 1440px !important; }


.minWn{ min-width: 0 !important; }
.minW60{ min-width: 60px !important; }
.minW600{ min-width: 600px; }
.minW970{ min-width: 970px; }
.minW1139{ min-width: 1139px; }
.minW1190{ min-width: 1190px; }
.minW1300{ min-width: 1300px; }

.maxW40{ max-width: 40px; }
.maxW50{ max-width: 50px; }
.maxW60{ max-width: 60px; }
.maxW64{ max-width: 64px; }
.maxW80{ max-width: 80px; }
.maxW85{ max-width: 85px; }
.maxW100{ max-width: 100px; }
.maxW110{ max-width: 110px; }
.maxW120{ max-width: 120px; }
.maxW130{ max-width: 130px; }
.maxW150{ max-width: 150px; }
.maxW160{ max-width: 160px; }
.maxW175{ max-width: 175px; }
.maxW180{ max-width: 180px; }
.maxW185{ max-width: 185px; }
.maxW200{ max-width: 200px; }
.maxW220{ max-width: 220px; }
.maxW240{ max-width: 240px; }
.maxW250{ max-width: 250px; }
.maxW260{ max-width: 260px; }
.maxW280{ max-width: 280px; }
.maxW300{ max-width: 300px; }
.maxW320{ max-width: 320px; }
.maxW330{ max-width: 330px; }
.maxW342{ max-width: 342px; }
.maxW360{ max-width: 360px; }
.maxW380{ max-width: 380px; }
.maxW400{ max-width: 400px; }
.maxW420{ max-width: 420px; }
.maxW440{ max-width: 440px; }
.maxW450{ max-width: 450px; }
.maxW460{ max-width: 460px; }
.maxW500{ max-width: 500px; }
.maxW520{ max-width: 520px; }
.maxW540{ max-width: 540px; }
.maxW600{ max-width: 600px !important }
.maxW640{ max-width: 640px !important }
.maxW650{ max-width: 650px; }
.maxW700{ max-width: 700px; }
.maxW720{ max-width: 720px; }
.maxW740{ max-width: 740px; }
.maxW800{ max-width: 800px !important }
.maxW820{ max-width: 820px !important }
.maxW920{ max-width: 920px !important }
.maxW1000{ max-width: 1000px !important }
.maxW1200{ max-width: 1200px !important }
.maxW1420{ max-width: 1420px !important }
.maxW50p{ max-width: 50% !important }

/*width percent*/
.W10p { width: 10% !important; }
.W14p { width: 14% !important; }
.W15p { width: 15% !important; }
.W16p { width: 16% !important; }
.W16_5p { width: 16.5% !important; }
.W17p { width: 17% !important; }
.W18p { width: 18% !important; }
.W19p { width: 19% !important; }
.W20p { width: 20% !important; }
.W25p { width: 25% !important; }
.W30p { width: 30% !important; }
.W35p { width: 35% !important; }
.W35_5p { width: 35.5% !important; }
.W40p { width: 40% !important; }
.W45p { width: 45% !important; }
.W48p { width: 48% !important; }
.W49p { width: 49% !important; }
.W50p { width: 50% !important; }
.W55p { width: 55% !important; }
.W60p { width: 60% !important; }
.W65p { width: 65% !important; }
.W70p { width: 70% !important; }
.W75p { width: 75% !important; }
.W80p { width: 80% !important; }
.W85p { width: 85% !important; }
.W90p { width: 90% !important; }
.W95p { width: 95% !important; }
.W100p { width: 100% !important; }

/*height*/
.H10 { height: 10px !important; }
.H20 { height: 20px !important; }
.H25 { height: 25px !important; }
.H30 { height: 30px !important; }
.H36 { height: 36px !important; }
.H40 { height: 40px !important; }
.H44 { height: 44px !important; }
.H45 { height: 45px !important; }
.H48 { height: 48px !important; }
.H50 { height: 50px !important; }
.H60 { height: 60px !important; }
.H70 { height: 70px !important; }
.H80 { height: 80px !important; }
.H90 { height: 90px !important; }
.H99 { height: 99px !important; }
.H100 { height: 100px !important; }
.H110 { height: 110px !important; } /*20151023추가*/
.H120 { height: 120px !important; }
.H124 { height: 124px !important; }
.H130 { height: 130px !important; }
.H140 { height: 140px !important; }
.H150 { height: 150px !important; }
.H160 { height: 160px !important; }
.H170 { height: 170px !important; }
.H180 { height: 180px !important; }
.H190 { height: 190px !important; }
.H200 { height: 200px !important; }
.H250 { height: 250px !important; }
.H300 { height: 300px !important; }
.H310 { height: 310px !important; }
.H329 { height: 329px !important; }
.H350 { height: 350px !important; }
.H400 { height: 400px !important; }
.H450 { height: 450px !important; }
.H500 { height: 500px !important; }
.H550 { height: 550px !important; }
.H600 { height: 600px !important; }
.H650 { height: 650px !important; }

.H100p{ height: 100% !important; }


.maxH500{ max-height: 500px; }

/*margin*/
.Mg0 { margin: 0px !important; }
.Mg0a { margin: 0 auto !important; }
.Mg2 { margin: 2px !important; }

.MgT0 {margin-top:0px !important}
.MgT1 {margin-top:1px !important}
.MgT2 {margin-top:2px !important}
.MgT3 {margin-top:3px !important}
.MgT4 {margin-top:4px !important}
.MgT5 {margin-top:5px !important}
.MgT6 {margin-top:6px !important}
.MgT7 {margin-top:7px !important}
.MgT8 {margin-top:8px !important}
.MgT9 {margin-top:9px !important}
.MgT10 {margin-top:10px !important}
.MgT12 {margin-top:12px !important}
.MgT15 {margin-top:15px !important}
.MgT16 {margin-top:16px !important}
.MgT17 {margin-top:17px !important}
.MgT20 {margin-top:20px !important}
.MgT24 {margin-top:24px !important}
.MgT25 {margin-top:25px !important}
.MgT26 {margin-top:26px !important}
.MgT28 {margin-top:28px !important}
.MgT30 {margin-top:30px !important}
.MgT32 {margin-top:32px !important}
.MgT35 {margin-top:35px !important}
.MgT40 {margin-top:40px !important}
.MgT42 {margin-top:42px !important}
.MgT45 {margin-top:45px !important}
.MgT50 {margin-top:50px !important}
.MgT53 {margin-top:53px !important}
.MgT55 {margin-top:55px !important}
.MgT60 {margin-top:60px !important}
.MgT70 {margin-top:70px !important}
.MgT80 {margin-top:80px !important}
.MgT90 {margin-top:90px !important}
.MgT100 {margin-top:100px !important}
.MgT130 {margin-top:130px !important}
.MgT200 {margin-top:200px !important}
.MgT300 {margin-top:300px !important}
.MgT400 {margin-top:400px !important}
.MgT500 {margin-top:500px !important}
.MgT600 {margin-top:600px !important}


.MgL0 {margin-left:0px !important}
.MgL4 {margin-left:4px !important}
.MgL5 {margin-left:5px !important}
.MgL8 {margin-left:8px !important}
.MgL10 {margin-left:10px !important}
.MgL14 {margin-left:14px !important}
.MgL15 {margin-left:15px !important}
.MgL16 {margin-left:16px !important}
.MgL20 {margin-left:20px !important}
.MgL21 {margin-left:21px !important}
.MgL25 {margin-left:25px !important}
.MgL30 {margin-left:30px !important}
.MgL34 {margin-left:34px !important}
.MgL35 {margin-left:35px !important}
.MgL38 {margin-left:38px !important}
.MgL40 {margin-left:40px !important}
.MgL45 {margin-left:45px !important}
.MgL50 {margin-left:50px !important}
.MgL55 {margin-left:55px !important}
.MgL60 {margin-left:60px !important}
.MgL65 {margin-left:65px !important}
.MgL68 {margin-left:68px !important}
.MgL70 {margin-left:70px !important}
.MgL75 {margin-left:75px !important}
.MgL76 {margin-left:76px !important}
.MgL80 {margin-left:80px !important}
.MgL85 {margin-left:85px !important}
.MgL90 {margin-left:90px !important}
.MgL95 {margin-left:95px !important}
.MgL100 {margin-left:100px !important}

.MgR0 {margin-right:0px !important}
.MgR1 {margin-right:1px !important}
.MgR2 {margin-right:2px !important}
.MgR3 {margin-right:3px !important}
.MgR4 {margin-right:4px !important}
.MgR5 {margin-right:5px !important}
.MgR8 {margin-right:8px !important}
.MgR10 {margin-right:10px !important}
.MgR12 {margin-right:12px !important}
.MgR14 {margin-right:14px !important}
.MgR15 {margin-right:15px !important}
.MgR20 {margin-right:20px !important}
.MgR25 {margin-right:25px !important}
.MgR30 {margin-right:30px !important}
.MgR32 {margin-right:32px !important}
.MgR35 {margin-right:35px !important}
.MgR40 {margin-right:40px !important}
.MgR45 {margin-right:45px !important}
.MgR50 {margin-right:50px !important}
.MgR55 {margin-right:55px !important}
.MgR56 {margin-right:56px !important}
.MgR57 {margin-right:57px !important}
.MgR58 {margin-right:58px !important}
.MgR59 {margin-right:59px !important}
.MgR60 {margin-right:60px !important}
.MgR70 {margin-right:70px !important}
.MgR80 {margin-right:80px !important}
.MgR90 {margin-right:90px !important}
.MgR100 {margin-right:100px !important}


.MgB0 {margin-bottom:0px !important}
.MgB3 {margin-bottom:3px !important}/*20151019추가*/
.MgB5 {margin-bottom:5px !important}
.MgB6 {margin-bottom:6px !important}
.MgB7 {margin-bottom:7px !important}
.MgB8 {margin-bottom:8px !important}
.MgB9 {margin-bottom:9px !important}
.MgB10 {margin-bottom:10px !important}
.MgB12 {margin-bottom:12px !important}
.MgB15 {margin-bottom:15px !important}
.MgB16 {margin-bottom:16px !important}
.MgB18 {margin-bottom:18px !important}
.MgB20 {margin-bottom:20px !important}
.MgB25 {margin-bottom:25px !important}
.MgB30 {margin-bottom:30px !important}
.MgB32 {margin-bottom:32px !important}
.MgB35 {margin-bottom:35px !important}
.MgB40 {margin-bottom:40px !important}
.MgB45 {margin-bottom:45px !important}
.MgB50 {margin-bottom:50px !important}
.MgB55 {margin-bottom:55px !important}
.MgB56 {margin-bottom:56px !important}
.MgB57 {margin-bottom:57px !important}
.MgB58 {margin-bottom:58px !important}
.MgB59 {margin-bottom:59px !important}
.MgB60 {margin-bottom:60px !important}
.MgB70 {margin-bottom:70px !important}
.MgB80 {margin-bottom:80px !important}
.MgB90 {margin-bottom:90px !important}
.MgB100 {margin-bottom:100px !important}






/*padding*/
.Pd0 { padding: 0px !important; }
.Pd5 { padding: 5px !important; }
.Pd10 { padding: 10px !important; }
.Pd15 { padding: 15px !important; }
.Pd20 { padding: 20px !important; }
.Pd25 { padding: 25px !important; }
.Pd30 { padding: 30px !important; }
.Pd35 { padding: 35px !important; }
.Pd40 { padding: 40px !important; }
.Pd45 { padding: 45px !important; }
.Pd50 { padding: 50px !important; }

.PdT0 {padding-top:0px !important}
.PdT1 {padding-top:1px !important}
.PdT2 {padding-top:2px !important}
.PdT3 {padding-top:3px !important}
.PdT4 {padding-top:4px !important}
.PdT5 {padding-top:5px !important}
.PdT6 {padding-top:6px !important}
.PdT7 {padding-top:7px !important}
.PdT8 {padding-top:8px !important}
.PdT9 {padding-top:9px !important}
.PdT10 {padding-top:10px !important}
.PdT11 {padding-top:11px !important}
.PdT12 {padding-top:12px !important}
.PdT13 {padding-top:13px !important}
.PdT14 {padding-top:14px !important}
.PdT15 {padding-top:15px !important}
.PdT20 {padding-top:20px !important}
.PdT25 {padding-top:25px !important}
.PdT30 {padding-top:30px !important}
.PdT35 {padding-top:35px !important}
.PdT40 {padding-top:40px !important}
.PdT45 {padding-top:45px !important}
.PdT50 {padding-top:50px !important}
.PdT55 {padding-top:55px !important}
.PdT60 {padding-top:60px !important}
.PdT65 {padding-top:65px !important}
.PdT70 {padding-top:70px !important}
.PdT75 {padding-top:75px !important}
.PdT80 {padding-top:80px !important}
.PdT85 {padding-top:85px !important}
.PdT95 {padding-top:95px !important}
.PdT100 {padding-top:100px !important}
.PdT110 {padding-top:110px !important}
.PdT120 {padding-top:120px !important}

.PdL0 {padding-left:0px !important}
.PdL5 {padding-left:5px !important}
.PdL7 {padding-left:7px !important}
.PdL10 {padding-left:10px !important}
.PdL15 {padding-left:15px !important}
.PdL20 {padding-left:20px !important}
.PdL25 {padding-left:25px !important}
.PdL30 {padding-left:30px !important}
.PdL35 {padding-left:35px !important}
.PdL40 {padding-left:40px !important}
.PdL45 {padding-left:45px !important}
.PdL50 {padding-left:50px !important}
.PdL55 {padding-left:55px !important}
.PdL60 {padding-left:60px !important}
.PdL65 {padding-left:65px !important}
.PdL70 {padding-left:70px !important}
.PdL75 {padding-left:75px !important}
.PdL80 {padding-left:80px !important}
.PdL85 {padding-left:85px !important}
.PdL90 {padding-left:90px !important}
.PdL95 {padding-left:95px !important}
.PdL100 {padding-left:100px !important}
.PdL110 {padding-left:110px !important}
.PdL120 {padding-left:120px !important}
.PdL130 {padding-left:130px !important}
.PdL140 {padding-left:140px !important}
.PdL150 {padding-left:150px !important}


.PdR0 {padding-right:0px !important}
.PdR1 {padding-right:1px !important}
.PdR2 {padding-right:2px !important}
.PdR3 {padding-right:3px !important}
.PdR4 {padding-right:4px !important}
.PdR5 {padding-right:5px !important}
.PdR10 {padding-right:10px !important}
.PdR15 {padding-right:15px !important}
.PdR20 {padding-right:20px !important}
.PdR25 {padding-right:25px !important}
.PdR30 {padding-right:30px !important}
.PdR35 {padding-right:35px !important}
.PdR40 {padding-right:40px !important}
.PdR45 {padding-right:45px !important}
.PdR50 {padding-right:50px !important}
.PdR55 {padding-right:55px !important}
.PdR60 {padding-right:60px !important}
.PdR65 {padding-right:65px !important}
.PdR70 {padding-right:70px !important}
.PdR75 {padding-right:75px !important}
.PdR80 {padding-right:80px !important}
.PdR85 {padding-right:85px !important}
.PdR90 {padding-right:90px !important}

.PdB0 {padding-bottom:0px !important}
.PdB5 {padding-bottom:5px !important}
.PdB10 {padding-bottom:10px !important}
.PdB15 {padding-bottom:15px !important}
.PdB20 {padding-bottom:20px !important}
.PdB25 {padding-bottom:25px !important}
.PdB30 {padding-bottom:30px !important}
.PdB35 {padding-bottom:35px !important}
.PdB40 {padding-bottom:40px !important}
.PdB45 {padding-bottom:45px !important}
.PdB50 {padding-bottom:50px !important}
.PdB55 {padding-bottom:55px !important}
.PdB60 {padding-bottom:60px !important}
.PdB80 {padding-bottom:80px !important}
.PdB100 {padding-bottom:100px !important}
.PdB150 {padding-bottom:150px !important}













