@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face{
    font-family:'Roboto-Regular';
    src:url('../font/Roboto-Regular.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face{
    font-family:'Roboto-Regular';
    src:url('../font/Roboto-Regular.woff') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face{
    font-family:'NEXON Lv2 Gothic Light';
    src:url('../font/NEXON Lv2 Gothic Light.woff') format('truetype');
}
@font-face{
    font-family:'nexonGothic';
    src:url('../font/NEXON-Lv2-Gothic.woff') format('truetype');
}
@font-face{
    font-family:'nexonGothic_bold';
    src:url('../font/NEXON-Lv2-Gothic-Bold.woff') format('truetype');
}
@font-face{
    font-family:'IropkeBatangM';
    src:url('../font/IropkeBatangM.woff') format('truetype');
}
@font-face{
    font-family:'GmarketSansTTFBold';
    src:url('../font/GmarketSansTTFBold.woff') format('truetype');
}
@font-face{
    font-family:'GmarketSansTTFLight';
    src:url('../font/GmarketSansTTFLight.woff') format('truetype');
}
@font-face{
    font-family:'GmarketSansTTFMedium';
    src:url('../font/GmarketSansTTFMedium.woff') format('truetype');
}

*{
    font-family:'nexonGothic';
    color:#000;
    list-style: none;
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    line-height:1;
    /*-ms-overflow-style:none;  스크롤 숨기기 */
	scrollbar-width:none;
}   



/*--------------------------------------------------------- reset ---------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
}


body{
    position:relative;
    margin:0;
    padding:0;
    width:100%;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
}


a{
    color:#000;
    display:block;
    text-decoration:none;
    cursor:pointer;
}


a:hover, a:active{
    text-decoration:none;
}

img{
    display: block;
}

ol, ul{
	list-style:none;
}


em{
    font-style:normal;
}

b{
    font-size:inherit;
    letter-spacing:inherit;
}

pre{
    line-height:1.76;
}

table{
    width:100%;
	border-spacing:0;
}
caption{
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

table th,
table td{color:#333;}

table td{font-weight:300;}


select option{
	font-size:inherit;
}
select{
    font-size: 0.938em;
    border-radius: 2px;
    letter-spacing: -0.4px; 
    background:url(../images/select.png) no-repeat 50% / 0.5em; 
    background-position-x:calc(100% - 0.938em); 
    appearance:none; /* 네이티브 화살표 제거*/ 
    -webkit-appearance:none; /* 네이티브 화살표 제거*/
    border: 1px solid #dcdcdc;
    padding-left: 10px;
}

select::-ms-expand{
    display:none; /* 네이티브 화살표 제거*/
}


select:focus::-ms-value{
	background-color:inherit;
	color:inherit;
}


/* 자동완성 */
input:-webkit-autofill,
input:-internal-autofill-selected{
	-webkit-box-shadow:0 0 0 30px #f4f4f4 inset;
	-webkit-text-fill-color:#000000;
}


input::read-only,
input::-moz-read-only{
	background:#dadada;
	cursor:default;
}


input::-moz-focus-inner,
button::-moz-focus-inner{
    border:0;
    padding:0;
}


input:disabled,
input[type="checkbox"]:disabled + label::before{
	/* background-color:#d2d2d2 !important; */
}


button{
	background:none;
    border:0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor:pointer;
}


textarea{
	width:100%;
    display:block;
    border:1px solid #e5e5e5;
	padding:6px 9px;
	min-height:100px;
	resize:none;
    line-height:1.5;
    border-radius: 5px;
}

address{
    font-style:normal;
}


::placeholder{
	color:#a2a2a2;
    font-size:inherit;
    font-weight:300;
}


/* 스크롤 디자인 */
::-webkit-scrollbar{
	width:6px;
	height:6px;
	background-color:#e5e5e5;
}


::-webkit-scrollbar-thumb{
	background:#484848;
}


:focus{
	outline:none;
}
	
	
::selection{
	background:#ddd;
}

@media screen and (max-width:1600px){ html{ font-size: 14px; } }
@media screen and (max-width:1400px){ html{ font-size: 12px; } }
@media screen and (max-width:1024px){ html{ font-size: 11px; } }
@media screen and (max-width:600px){ html{ font-size: 10.5px; } }